

body {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 10%;
    font-family:'Times New Roman', Times, serif; 
}

header {
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    border-bottom: 2px dashed gray;
    margin-bottom:5%;
    letter-spacing:0.3em;
    text-transform: capitalize;
}

header h1 {
    font-size:250%;
    text-align:center;
    white-space: nowrap;
}

header h2 {
    color:#006EB6;
    white-space: nowrap;
    font-size:100%;
    
}

main {
    font-size:20px;
    display:flex;
    flex-direction:column;
    margin-bottom:5%;
    max-width:650px;
}

footer {
    display:flex;
    justify-content: center;
}

footer img {
    width:150px;
}

ol li {
    line-height:1.5;
    padding:1.5%;
   
}

.dark {
    color:white;
    background-color: #333;
}

.dark h2 {
    color:#A0D4ED;
}

.yellow {
    color:purple;
    background-color: yellow;
}

.yellow h2 {
    color:rgb(216, 0, 133);
}

.wrapper {
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}