@import url("https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato");

:root {
  --primary-color: #2C497F;
  --secondary-color: #808A9F;
  --accent1-color: #3D2B56;
  --accent2-color: white;

  --heading-font: Karla, sans-serif;
  --paragraph-font: Inter, sans-serif;

  --headline-color-on-white: var(
    --primary-color
  ); 
  --headline-color-on-color: white; 
  --paragraph-color-on-white: var(
    --primary-color
  ); 
  --paragraph-color-on-color: white; 
  --paragraph-background-color: var(--primary-color);
  --nav-link-color: var(--primary-color);
  --nav-background-color: var(--secondary-color);
  --nav-hover-link-color: white;
  --nav-hover-background-color: var(--primary-color);
}

body {
  display: flex;
  justify-content: center;
  align-items: center; 
  min-height: 100vh; 
  margin: 0;
}

.wrapper {
  width: 1800px;
}

/* header */
header img {
  width: 50px;
  border-radius: 35%;
  padding: 10px;
  background-color: var(--accent1-color);
}

header > h1,
header > h2 {
  color: var(--headline-color-on-color);
  font-size: 350%;
}

header nav a{
  color: white;
}

/* main */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
h2 {
  text-align: center;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}

header {
  padding: 1em;
  text-align: center;
  color: var(--paragraph-color-on-color);
  background: linear-gradient(20deg, #618fe6, var(--primary-color));
  border-bottom: 5px solid black;
}

p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
  padding: 1em;
}
.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td {
  width: 25%;
  height: 3em;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}


main nav {
  padding: 5% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main img {
  width: 125px;
  height: 100px;
}

.ufcLink,
.boxingLink {
  padding: 5%;
  background-color: var(--accent1-color);
  border-radius: 5%;
  width: 300px;
  margin: 5%;
}

.ufcLink img,
.boxingLink img {
  width: 300px;
  height: 300px;
}

.ufcLink:hover {
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.7);
}

.boxingLink:hover {
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.7);
}

/* footer */

footer {
  background-color: var(--nav-background-color);
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 5px solid black;
}

footer nav {
  list-style-type: none;
  display: flex;
  gap: 10px;
  margin-right: 2%;
}

footer nav a {
  padding: 0;
  text-decoration: none;
  display: inline-block;
  width: auto;
}

footer img {
  width: 30px;
  border-radius: 20%;
}

/* page 2 specific */

.page2 {
  display: flex;
  align-items: center;
}

.page-title2 {
  display: flex;
  flex-direction: column;
}

.page-title2 h1 {
  color: white;
}

.img-container {
  margin-right: 40%;
}

@media screen and (min-width:1050px)
{

  main {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  main nav {
    display: flex;
    gap: 10%;
    padding: 5% 5%;
    justify-content: center;
    flex-direction: row;
  }
  
  main img {
    width: 125px;
    height: 100px;
  }

  .ufcLink,
  .boxingLink {
    padding: 2.5% 2.5%;
    background-color: var(--accent1-color);
    border-radius: 5%;
    width: 400px;
  }
  
  .ufcLink img,
  .boxingLink img {
    width: 400px;
    height: 300px;
  }
  
}

