* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

main {
    max-width: 600px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
}

.errors>p {
    border: 1px solid red;
    padding: 0.5em;
}

/* Style the select arrow for Safari */
select::-webkit-inner-spin-button,
select::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Style the select arrow for other browsers */

label {
    font-weight: bold;
    display:block;
    margin-bottom: 2.5%;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 2.5%;
    box-sizing: border-box;
    border: 1px solid #ccc; 
    border-radius: 4px;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-weight: bold;
}

.hide {
    display: none;
    /* Initially hide the credit card input and label */
}

button {
    background-color: #4caf50;
    width: 100px;
    border-radius: 5px;
    border: 1px solid green;
    color: white;
    padding: 10px;
}